.container {
    composes: clearfix from global;

    background: $onionboarding-colors--background;
    height: $onionboarding--main-interactive-area-height;
    position: relative;
    text-align: initial;
    width: $onionboarding--main-interactive-area-width;
}

.back-button {
    background: none;
    border: none;
    color: $onionboarding-colors--text-subtext;
    font-size: 0.9em;
    left: 0;
    position: absolute;
    top: -20px; /*FIXME*/
}
