$onboarding--fallback-font: "Helvetica Neue", Helvetica, sans-serif;
$onboarding--fallback-font-size-base: 13.5px;

$onboarding--gibson-font: "canada-type-gibson", sans-serif;
$onboarding--gibson-font-size-base: 14px;

$onboarding--font-weight-light: 300;
