// Specifies the max dimensions of the main interactive parts of onionboarding
// (ie. uploader and form)
$onionboarding--main-interactive-area-height: 360px;
$onionboarding--main-interactive-area-width: 950px;

// Fonts
$onionboarding--fallback-font: "Helvetica Neue", Helvetica, sans-serif;
$onionboarding--fallback-font-size-base: 13.5px;

$onionboarding--gibson-font: "canada-type-gibson", sans-serif;
$onionboarding--gibson-font-size-base: 14px;

$onionboarding--font-weight-light: 300;
