.layout-container {
    min-height: 60%; /*FIXME*/
    position: relative;
    top: 7%; /*FIXME*/

    border: 1px red solid;
}

.drag-and-drop-container {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100vw;

    border: 1px green solid;
}

/* Limit size of the interactive area for dynamically sized views (ie. uploader) */
.main-interaction-area {
    max-height: $onionboarding--main-interactive-area-height;
    max-width: $onionboarding--main-interactive-area-width;
}
