// Global app styles
body {
    font-family: $onionboarding--fallback-font;
    font-size: $onionboarding--fallback-font-size-base;
    font-weight: $onionboarding--font-weight-light;

    // When gibson has been added, use it
    html[class^="wf-canadatypegibson"] & {
        font-family: $onionboarding--gibson-font;
        font-size: $onionboarding--gibson-font-size-base;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $onionboarding--font-weight-light;
}
